@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-area-pt {
    padding-top: env(safe-area-inset-top);
  }
}

html,
body,
#root {
  height: 100%;
}
